@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* body {
    @apply bg-pink-100;
  } */
}
@layer components {
  .container {
    @apply mx-auto;
  }
}

.site-header {
  @apply bg-rose-400 shadow shadow-rose-400/40;
}

.site-header .container {
  @apply relative flex items-center justify-between xl:flex-row;
}

.navbar {
  @apply absolute left-0 top-16 z-10 flex-col justify-between rounded-b-3xl bg-rose-400 p-2 xl:static xl:flex xl:flex-row xl:rounded-full;
}

.navbar-list {
  @apply mb-6 grid grid-cols-3 items-center gap-2 text-center font-bold text-white xl:mb-0 xl:ml-2 xl:flex xl:flex-wrap xl:gap-y-3;
}

.navbar-link {
  @apply block whitespace-nowrap rounded-full p-4 shadow xl:px-4 xl:py-1;
}

.main {
  @apply grow bg-gradient-to-t from-rose-50 to-white;
}

.list-image {
  @apply mx-auto mb-2 aspect-square w-24 rounded-2xl object-cover shadow-md;
}
.list-meta {
  @apply mx-2 mb-2 text-center;
}
.list-meta .title {
  @apply mb-1 text-base font-extrabold leading-5 text-rose-500;
}
.list-meta .category {
  @apply mb-2 text-xs font-bold uppercase text-red-900;
}
.list-meta .rating {
  @apply mb-2 -ml-1 flex items-center justify-center;
}
.game-list-item .play {
  @apply flex flex-col items-center justify-between gap-y-1 xl:flex-row;
}
.play .played {
  @apply text-sm text-gray-400;
}
.play .cta {
  @apply rounded-full border-2 border-rose-200 bg-rose-100 to-white px-4 py-2 text-sm font-bold text-rose-500 shadow shadow-rose-50;
}
.list-title {
  @apply m-4 flex flex-col items-center;
}
.list-title h1 {
  @apply text-2xl font-black text-rose-500 xl:mx-8 xl:mt-8;
}
.list-title p {
  @apply max-w-3xl text-sm leading-6 text-gray-500;
}
.page h2 {
  @apply my-3 font-bold;
}
.page p {
  @apply my-2;
}
.page a {
  @apply underline;
}
.page ul {
  @apply my-2 ml-4 list-outside list-disc;
}

.banner {
  @apply mx-auto max-w-5xl;
}

.game-list {
  @apply m-2 grid grid-cols-2 gap-2 md:grid-cols-4 xl:mx-8 xl:mt-8 xl:mb-12 xl:grid-cols-6 xl:gap-4;
}

.game-list-item {
  @apply rounded-md border border-rose-100 bg-white p-3 shadow shadow-rose-50 xl:p-4;
}

.detail .info {
  @apply m-4 flex xl:my-8 xl:flex-row-reverse xl:justify-between;
}

.info-image {
  @apply w-28 rounded-2xl object-cover shadow-md xl:w-48;
}

.info .meta {
  @apply ml-3 xl:ml-0;
}

.page-nav li {
  @apply flex h-10 w-10 items-center justify-center;
}

.detail h1 {
  @apply mb-2 text-xl font-black leading-5 text-rose-500 xl:text-5xl;
}

.detail .category {
  @apply mb-2 text-xs font-bold uppercase text-red-900 xl:text-base;
}

.detail .rating {
  @apply mb-2 -ml-1 flex items-center;
}

.detail .score {
  @apply ml-1 text-lg font-black text-orange-600;
}

.detail .played {
  @apply text-sm text-gray-400;
}

.detail .desc {
  @apply m-4 text-sm text-gray-500 xl:text-base;
}

.detail .play-btn {
  @apply w-full max-w-sm rounded-full bg-rose-400 px-4 py-2 text-lg font-black uppercase text-white  shadow-lg shadow-rose-100;
}

.section-title {
  @apply m-4 border-t-2 border-rose-100 pt-4 text-lg font-bold text-rose-500 xl:mx-8;
}

.site-footer {
  @apply border-t border-t-rose-200 bg-rose-400 text-center text-sm text-white;
}

.site-footer nav {
  @apply border-b border-b-black/10;
}

.site-footer ul {
  @apply grid grid-cols-2 gap-x-8 gap-y-4 p-4 text-white drop-shadow xl:flex xl:justify-center;
}

.site-footer p {
  @apply m-4 flex justify-center gap-2 pb-4 text-xs text-red-900/80;
}

.scroll-top-btn {
  @apply fixed right-3 bottom-3 z-10 h-12 w-12 content-center justify-center rounded-full bg-rose-500/50 text-white;
}

.star {
  @apply h-5 w-5 text-orange-500;
}

.un-star {
  @apply h-5 w-5 text-orange-200;
}
